* {
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    display: flex;
}
.main-menu{
    flex-grow: 1;
    border: 1px solid #000;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.logo{
    border: 1px solid #000;
    flex-grow: 1;
    background-color: #d8d8d8;
}
.logo h3{
    display: inline-block;
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 5px solid #000;
}
.menu-button{
    flex-grow: 6;
    display: flex;
    flex-direction: column;
}
.menu-button button{
    display: block;
    width: 100%;
    height: 72px;
    background-color: #ecf0f1;
    color: #636e72;
    border: 1px solid #d8d8d8;
    font-size: 28px;
    text-align: left;
    border-left: 10px solid #ecf0f1;
    transition: 0.4s;
}
.menu-button button:hover{
    background-color: #b2bec3;
    color: #2d3436;
    border-color: #2d3436;
}
.menu-button p{
    position: absolute;
    left: 15px;
    bottom: 5px;
}
.main-space{
    flex-grow: 8;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.active-space{
    flex-basis: 50%;
    overflow: scroll;
    margin-bottom: 10px;
    border: 1px solid #000;
    background-color: #f0f5f6;
    display: flex;
    flex-direction: column;
}
.completed-space{
    flex-basis: 50%;
    overflow: scroll;
    border: 1px solid #000;
    background-color: #f5fdff;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
}
.active-title{
    margin: 30px 0;
}
.active-title h3{
    display: inline-block;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 5px solid #000;
}
.todo-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.todo-item{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 10px;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    border-bottom: 3px solid #d8d8d8;
}
.todo-item p{
    font-family: sans-serif;
    font-size: 1.2em;
    flex-basis: 80%;
    margin: 0;
    line-height: 40px;
    margin-left: 30px;
}
.todo-item button{
    flex-basis: 20%;
    margin-left: 10px;
    display: block;
    height: 36px;
    background-color: #ecf0f1;
    color: #636e72;
    border: 1px solid #2d3436;
    font-size: 20px;
    transition: 0.4s;
}
.todo-item button:hover{
    background-color: #b2bec3;
    color: #2d3436;
}